# Virtual Environment
venv/
.venv/
env/

# Data & Secrets
*.db
*.sqlite3
.env
.streamlit/secrets.toml

# Python & IDEs
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/

# OS Metadata (The "Ghost" files)
.DS_Store
Thumbs.db
.directory
